.market-dates-item {
    list-style: none;
    padding: 0;
}

.item-number {
    display: block;
    color: #F7654A;
    font-weight: 500;
    font-size: 72px;
    line-height: 107px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 4px;
    text-align: center;
}

.item-years {
    display: block;
    font-family: 'Oswald', sans-serif;
    color: #000000;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.item-market {
    display: block;
    font-family: 'Oswald', sans-serif;
    color: #999999;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}