.title {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    color: #404149;
    font-family: 'Oswald', sans-serif;
    margin: 0 0 50px;
    text-align: center;
}

.projects-list {
    display: flex;
    justify-content: space-between;
    margin: 0 0 123px;
    padding: 0;
}