.footer-wrap {
    display: flex;
    justify-content: space-between;
}

.footer-title {
    display: inline-block;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    letter-spacing: 0.02em;
    margin-bottom: 6px;
}

.footer-paragraph {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    letter-spacing: 0.02em;
}

.footer-btn {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    position: relative;
    background: #FFFFFF;
    border: none;
    width: 175px;
    height: 49px;
    padding-left: 63px;
    text-align: left;
    margin: auto 0;
}

.footer-btn::before {
    content: '';
    position: absolute;
    background-image: url("./icon-btn-email.svg");
    background-repeat: no-repeat;
    left: 30px;
    top: 18px;
    width: 18px;
    height: 15px;
}