.header {
    background: url("./img-header.svg") no-repeat center center;
    background-size: cover;
    height: 740px;
    font-family: 'Oswald', sans-serif;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.footer {
    padding: 30px 0 38px;
    background-color: #F7654A;
}