.projects-item {
    list-style: none;
    width: 350px;
    padding: 0;
    margin: 0;
}

.wrap {
    position: relative;
    margin: 0 0 66px;
    height: 380px;
}

.wrap::before {
    content: '';
    position: absolute;
    background: #F7654A;
    width: 55px;
    height: 6px;
    left: 0;
    bottom: -51px;
}

.project-title {
    padding: 6px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #404149;
    font-family: 'Oswald', sans-serif;
}

.projects-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    font-family: 'Open Sans', sans-serif;
    margin: 13px 0 0;
}