.head-wrap {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 103px;
}

.icon {
    display: inline-block;
    background-image: url("./logo.svg");
    width: 60px;
    height: 64px;
    background-repeat: no-repeat;
}


.hamburger-menu-box {
    margin: auto 0;
    width: 50px;
    height: 50px;
    background-color: #F7654A;
    border: none;
    padding: 0;
}

.hamburger {
    display: inline-block;
    background-image: url("./burger-menu.svg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.head-header {
    width: 734px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    margin: 0 auto 17px;
    letter-spacing: 0.02em;
}

.head-paragraph {
    width: 734px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-weight: 40;
    font-size: 18px;
    line-height: 27px;
    margin: 0 auto 156px;
}